//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Xanadul.rasi"
//@theme "/home/xanadul/.config/rofi/themes/Arc-Xanadul.rasi"
//@theme "/home/xanadul/.config/rofi/themes/EliaStellaria.rasi"
//@theme "/home/xanadul/.config/rofi/themes/Arc-Xanadul.rasi"

//@theme "/home/xanadul/.config/rofi/themes/Elianoire.rasi"

@theme "/home/xanadul/.config/rofi/themes/Arc-Xanadul.rasi"
